<div class="header">
    <div class="leftPart">
        <app-logo></app-logo>
        <app-nav></app-nav>
    </div>
    <div class="rightPart">
        <app-search-bar></app-search-bar>
        <div class="userOptions">
            <a href="" class="profile"><lucide-icon name="user" [size]="20" [strokeWidth]="1.5"></lucide-icon>Cuenta</a>
            <a href="" class="cart"><lucide-icon name="shopping-cart" [size]="20" [strokeWidth]="1.5"></lucide-icon>Carrito</a>
        </div>
    </div>
</div>